In [1]:
SELECT COUNT(DISTINCT DiakAz) AS egyedi_diakok_szama
FROM diak;

egyedi_diakok_szama
10

In [17]:
SELECT COUNT(*) AS null_diakaz
FROM diak
WHERE DiakAz IS NULL;

null_diakaz
0

In [15]:
SELECT LEFT(Nev, 1) AS nev_kezdo, COUNT(*) AS diakok_szama
FROM diak
GROUP BY LEFT(Nev, 1)
ORDER BY nev_kezdo;

nev_kezdo,diakok_szama
C,1
H,1
K,5
N,1
O,1
P,1

In [5]:
SELECT AVG(LEN(Nev)) AS atlagos_nev_hossz
FROM diak;

atlagos_nev_hossz
10

In [6]:
SELECT MIN(Szulido) AS legkorabbi_szulido, MAX(Szulido) AS legkesobbi_szulido
FROM diak;

legkorabbi_szulido,legkesobbi_szulido
1981-11-30 00:00:00.000,1990-05-05 00:00:00.000

In [9]:
SELECT 
    korcsoport,
    COUNT(*) AS diakok_szama
FROM (
    SELECT 
        CASE
            WHEN YEAR(GETDATE()) - YEAR(Szulido) BETWEEN 18 AND 24 THEN '18-24 éves'
            WHEN YEAR(GETDATE()) - YEAR(Szulido) BETWEEN 25 AND 34 THEN '25-34 éves'
            ELSE '35 éves vagy annál idősebb'
        END AS korcsoport
    FROM diak
) AS t
GROUP BY korcsoport
ORDER BY korcsoport;

korcsoport,diakok_szama
25-34 éves,1
35 éves vagy annál idősebb,9

In [16]:
SELECT MONTH(Szulido) AS szul_honap, COUNT(*) AS diakok_szama
FROM diak
GROUP BY MONTH(Szulido)
ORDER BY szul_honap;

szul_honap,diakok_szama
1,1
2,2
3,1
5,2
6,1
11,2
12,1