In [6]:
select FOGLALAS_PK,
            IIF(month(METTOL) in (6,7,8) , ' igen','nem') as 'nyar'
    
from Foglalas
where UGYFEL_FK='laszlo2' and GYERMEK_SZAM=0

FOGLALAS_PK,nyar
561,nem

In [7]:
 SELECT szh.TIPUS, YEAR(f.METTOL) AS 'Év', MONTH(f.METTOL) AS 'Hónap', count(*)
 

 FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID 

                              JOIN Szallashely szh ON szh.szallas_fk=szh.SZALLAS_ID
 

WHERE  DATEDIFF(day,f.METTOL, f.meddig  ) >=5

GROUP BY szh.TIPUS, YEAR(F.METTOL), MONTH(f.METTOL)

: Msg 102, Level 15, State 1, Line 9
Incorrect syntax near '>'.